<h1>Page#projects</h1>
<p>Find me in app/views/page/projects.html.erb</p>
<div class="d-flex">
    <div class="card-group">
        <div class="card">
            <div class="d-flex p-3">
                <%= image_tag 'car1.jfif', size: '180x180' %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Paisajes del mundo </h5>
                <p class="card-text">El sur del mundo es un lugar hermoso</p>
                <div class="py-2">
                    <a href="link a URL" class="btn btn-primary">Ir al link</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="d-flex p-3">
                <%= image_tag 'car2.jfif', size: '180x180' %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Un mundo nuevo</h5>
                <p class="card-text">La caida del agua pura</p>
                <div class="py-2">
                    <a href="" class="btn btn-primary">Ir al link</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="d-flex p-3">
                <%= image_tag 'car3.jfif', size: '180x180' %>
            </div>
            <div class="card-body">
                <h5 class="Paisajes Ecoturismo">Paisajes ecoturismo</h5>
                <p class="card-text">El ecoturimo en su maxima espresión </p>
                <div class="py-2">
                    <a href="" class="btn btn-primary">Ir al link</a>
                </div>
            </div>
        </div>

    </div>
</div>